body {
  flex-direction:column;
  background-color: #e6e6e6;
  position: relative;
  min-height: 98vh;
  display:flex;
  flex-direction:column;
}

main {
  text-align: center;
  background-color: #e6e6e6;
  flex: 1;
}

footer {
  flex-direction:row;
  color: black;
  background-color: #e6e6e6;
  width: 100%;
  position: absolute;
  bottom: 0;
}

header,footer{
  text-align: center;
}
